<style>
    .header {
        position: sticky;
        top:0;
    }
    .container {
        width: 600px;
        height: 300px;
        overflow: auto;
    }
    h1{
        color: green;
    }
</style>
<% let index = 0 %> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<% var usdtINR = (parseFloat(USD_inr)).toFixed(2) %> 
<h1> USD Price : <%= usdtINR %></h1>
<table border="1" class="table">
    <thead style="position: sticky;top: 0" class="thead-dark">
<tr>
    <th class="header" scope="col" >NAME</th>
    <th class="header" scope="col" >Bit-Fee</th>
    <th class="header" scope="col" >Bit-Price</th>
    <th class="header" scope="col" >B-FeeINR</th>
    <th class="header" scope="col" >WX-Price</th>
    <th class="header" scope="col" >Bit - WX </th>
    <th class="header" scope="col" >WX-Fee</th>
    <th class="header" scope="col" >WX-Fee-INR</th>
    <th class="header" scope="col" >BNC-PRICE</th>
    <th class="header" scope="col" >BIT - BNC</th>
    <th class="header" scope="col" >BTC-INR</th>
    <th class="header" scope="col" >BIT - BTC</th>
</tr>
</thead>
<% for( let i = 0; i < withbit.length-3; i++ ) { %>
    <tr>
        <% var name =(withbit[i].name).toUpperCase(); %> 
    <% if (price_bit[name] != null) { %>
        <% 
           var Bit_Fee = (withbit[i].fee);
           var Bit_Price=price_bit[name].last_traded_price ; 
           var binance_Price = binance.findIndex(x => x.symbol == name+"USDT" );
           var BNC_BTC_INR = (parseFloat(binance[binance.findIndex(x => x.symbol == "BTCUSDT" )].price) *usdtINR).toFixed(2);
           var BNC_BTC_INDEX = binance.findIndex(x => x.symbol == name+"BTC" );
        %> 
        
        <td><%= name %></td>
        <td><%= Bit_Fee %></td>
        <td><%= Bit_Price %></td>
       
        <td><%=  ( parseFloat(Bit_Price) * parseFloat(Bit_Fee) ).toFixed(2)  %></td>
          <% var W_market = price_wx.markets; 
             var W_assets = price_wx.assets;
             var nameL =(name).toLowerCase();
             var indexW =W_market.findIndex(x => x.baseMarket == nameL && x.quoteMarket == "inr")
          %> 
            <% if (indexW != -1 && W_assets[W_assets.findIndex(x => x.type == nameL )] != undefined) { %>
               <%  var WX_Fee =W_assets[W_assets.findIndex(x => x.type == nameL )].withdrawFee; %> 
                <td><%= W_market[indexW].buy; %> </td>
                <td><%= (parseFloat(Bit_Price) - parseFloat(W_market[indexW].buy)).toFixed(2); %> </td>
                <td><%= WX_Fee %> </td>
                <td><%= (parseFloat(WX_Fee) * parseFloat(W_market[indexW].buy)).toFixed(2); %> </td>
                
            <% } else { %>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
             
            <% } %>
            <% if (binance_Price  != -1 ) { %>
                <% var BNC_price = (parseFloat(binance[binance_Price].price)*usdtINR).toFixed(2);
           %>
           
                <td><%=  BNC_price %></td>
                <td><%= (Bit_Price - BNC_price).toFixed(2) %> </td>
              
               
                <% } else { %>
                    <td>-</td>
                    <td>-</td>
                    
                    <% } %>
                    <% if (BNC_BTC_INDEX != -1) { %>
                        <% var BNC_price_BTC = (parseFloat(binance[BNC_BTC_INDEX].price) * BNC_BTC_INR).toFixed(2); %> 
                        <td><%= BNC_price_BTC %> </td>
                        <td>
                            <%= (Bit_Price - BNC_price_BTC).toFixed(2) %> 
                        </td>
                        
                        <% } else { %>
                            <td>-</td>
                            <td>-</td>
                            
                            <% } %>
    <% } else { %>
        <td><%= name %></td>
        <td><%= Bit_Fee  %></td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>        
     
    <% } %>
    </tr> 
<% } %>
</table>      
       